.A2 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 
    {
        text-align: center;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 52px;
    }
    .A2-p 
    {
        text-align: center;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        width:60%;
    }
    .A2-services
    {
        margin-top:3vh;
        width:80%;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 1024px)
{
    .A2 
    {
        .A2-services
        {
            width:90%;
        }
    }
}
@media (max-width: 800px)
{
    .A2 
    {
        .A2-p 
        {
            width:80%;
            line-height: 20px;
        }
        .A2-services
        {
            margin-top: 1vh;
            width:95%;
        }
    }
}
@media (max-width: 600px)
{
    .A2 
    {
        .A2-p 
        {
            font-size:15px;
            width:90%;
        }
        .A2-services
        {
            flex-wrap: wrap;
        }
    }
    
}